.nav ul{
    display: flex;
    justify-content: space-around; /*Để dùng được justify-content thì trước đó phải dùng display:display: flex*/
    list-style: none;
    width: 50%;
}

.nav{
    background-color: aqua;
}

.nav a{
    color: blue;
    text-decoration: none;

}

body.dark{
    display: flex;
    height: 50%;
    width: 50px;
    background: #111;
}

.header img{
    width: 200px;
    height: 200px;
}

.header h1{
    color: aqua;
    margin-left: 130px;
}

.Body1 h2{
    margin-left: 100px;
    color: black;
}

.Body2 h2{
    margin-left: 100px;
    color: black;
}

.footer{
    text-align: right;
}

.details{
    margin-left: 100px;
    text-align: center;
}