.nav ul{
    display: flex;
    justify-content: space-around; /*Để dùng được justify-content thì trước đó phải dùng display:display: flex*/
    list-style: none;
    width: 50%;
}

.nav{
    background-color: aqua;
}

.nav a{
    color: blue;
    text-decoration: none;

}

.header img{
    width: 200px;
    height: 200px;
}